<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 l3">
        <input [(ngModel)]="nameCard" [ngModelOptions]="{standalone: true}" id="Name" class="validate center">
        <span class="helper-text center" data-error="wrong" data-success="right">Enter name image</span>
      </div>
      <div class="input-field col s12 l6">
        <input [(ngModel)]="urlCard" [ngModelOptions]="{standalone: true}" id="url" class="validate center">
        <span class="helper-text center" data-error="wrong" data-success="right">Enter URL image</span>
      </div>
      <div class="input-field col s12 l3">
        <input [(ngModel)]="tagsCard" [ngModelOptions]="{standalone: true}" id="tagUrl" class="validate center">
        <span class="helper-text center" data-error="wrong" data-success="right">Enter #tags -min 3</span>
      </div>
      <div class="input-field col s2 offset-s3 offset-m5 offset-l5">
        <input type="file" (change)="file()" id="url" class="validate center">
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col s12">
    <div class=" center">
      <button (click)="handler()" class="waves-effect waves-light btn">Add image</button>
    </div>
  </div>
</div>
